<!DOCTYPE html>
<html lang="ja">

<head>
	<title>経過日数算出</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/moment.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>基準日から何日経った？</h1>
		<p>基準日(From)から指定日(To)までの日数を算出します。</p>
		<div id="App">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">何の日？</th>
						<th scope="col">From日付 (YYYYMMDD) 必須</th>
						<th scope="col">To日付 (YYYYMMDD) 必須</th>
						<th scope="col">経過日数</th>
						<th scope="col">算出</th>
					</tr>
				</thead>
				<tbody>
					<tr scope="row">
						<td>本能寺の変</td>
						<td><input type='text' value='' id='kinen1From' v-model='kinen1From' /></td>
						<td><input type='text' value='' id='kinen1To' v-model='kinen1To' /></td>
						<td>{{ date1 }}</td>
						<td><button v-on:click="getElapsedTime('kinen1')" >算出</button></td>
					</tr>
					<tr scope="row">
						<td>ペリー浦賀来航</td>
						<td><input type='text' value='' id='kinen2From' v-model='kinen2From' /></td>
						<td><input type='text' value='' id='kinen2To' v-model='kinen2To' /></td>
						<td>{{ date2 }}</td>
						<td><button v-on:click="getElapsedTime('kinen2')">算出</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- original JS -->
	<script>
		(function () {
			const fetchUrl = '/api/keika?';
			var vm = new Vue({
				el: '#App',
				data: {
					kinen1From: '15820621',
					kinen1To: moment().format('YYYYMMDD'),
					date1: '',
					kinen2From: '18530708',
					kinen2To: moment().format('YYYYMMDD'),
					date2: ''
				},
				methods: {
					getElapsedTime(flag){
						var from,to;
						if(flag == 'kinen1'){
							from = this.kinen1From;
							to = this.kinen1To;
						}else{
							from = this.kinen2From;
							to = this.kinen2To;
						}
						if(this.validation(from, to)){
							fetch(fetchUrl + 'from=' + from + '&to=' + to)
							.then(res => res.json())
							.then(response => {
								console.log(response);
								if(flag == 'kinen1'){
									vm.date1 = response.message;
								}else{
									vm.date2 = response.message;
								}
							});
						}else{
							if(flag == 'kinen1'){
								vm.date1 = 'パラメータ不正';
							}else{
								vm.date2 = 'パラメータ不正';
							}
						}
					},
					validation: function(value1, value2){
						if(!(/^\d{8}$/).test(value1)){
							return false;
						}
						if(!(/^\d{8}$/).test(value2)){
							return false;
						}
						return true;
					}
				}
			});
		})();
	</script>
</body>

</html>